@model BookStore.Models.Author

@{
    ViewData["Title"] = "Create";
    Layout = "/Views/_Layout.cshtml";   
}

<h2>Create</h2>

<h4>Author</h4>
<hr />
<div class="row" >
    <div class="col-md-4 p-3">
        <form asp-action="Create" class="m-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control"style="margin-top:10px" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info"style="margin-top:30px" />
                <a asp-action="Index" class="btn btn-outline-info" style="margin-top:30px " >Back to List</a>

            </div>
        </form>
    </div>
</div>

<div>
</div>
