<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" >BookStore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="~/Author">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Author">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Book">Books</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" style="margin-left:auto">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <button class="btn btn-outline-success my-2 my-sm-0 " style="margin-left:40px" type="submit">Search</button>

        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("Scripts",required:false)
</body>
</html>
